@font-face {
  font-family: "Rubik-Light";
  src: url("../../static/fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../../static/fonts/Rubik-Bold.ttf");
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.dark {
  background-color: #f8f7ff;
  color: #2b2d42;
}

.light {
  background-color: #2b2d42;
  color: #f8f7ff;
}

.github-icon {
  margin: 0 auto;
  display: block;
  width: 35px;
}

.main-wrapper-light {
  font-family: "Rubik-Bold", serif;
  color: #f8f7ff;
  background-color: #2b2d42;
  min-height: 95vh;
  width: 100vw;
  margin: 0;
  padding: 0 0 5vh 0;
}

.main-wrapper-dark {
  font-family: "Rubik-Bold", serif;
  background-color: #f8f7ff;
  color: #2b2d42;
  min-height: 95vh;
  width: 100vw;
  margin: 0;
  padding: 0 0 5vh 0;
}

span {
  color: #348aa7;
}
p {
  font-family: "Rubik-Light", serif;
  font-size: 20px;
}

h1 {
  text-decoration: none;
  font-family: "Rubik-Bold", serif;
}

.hi-im-andrew {
  overflow: visible;
  letter-spacing: 0px;
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.hi-im-andrew h2,
.hi-im-andrew h1 {
  margin: 0;
}

.text {
  letter-spacing: 0px;
  line-height: 1.5em;
  font-style: normal;
  text-align: left;
}

button {
  display: block;
  font-family: "Rubik-Light", serif;
  text-align: center;
  height: 5vh;
  margin: 8vh auto 0 auto;
  border-radius: 1em;
}

.button-light {
  color: #f8f7ff;
  background: #2b2d42;
  border: 0.125rem solid#f8f7ff;
}

.button-dark {
  color: #2b2d42;
  background-color: #f8f7ff;
  border: 0.125rem solid #2b2d42;
}

.contact {
  position: fixed;
  bottom: 0;
  display: inline-block;
  margin: 0 auto 0.625rem 0;
  text-align: center;
}

.contactLink {
  display: inline;
  padding: 10px 2%;
  font-family: "Rubik-Light", serif;
}

.arrow {
  width: 1.875rem;
  height: 1.875rem;
}

.pageTitle {
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-style: normal;
}

.bio {
  font-size: 1em;
  width: 80%;
  margin: 10px 0;
}
.languages {
  font-style: italic;
  margin: 5px 0;
  padding: 0;
  font-size: 0.9em;
}
a {
  text-decoration: none;
  color: inherit;
}

.blog {
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin: 0 auto;
  line-height: 2em;
  padding-bottom: 20px;
}
/* Desktop view  */
@media only screen and (min-width: 400px) {
  .blog {
    width: 42vw;
  }

  h1 {
    font-size: 3rem;
  }

  #portfolio {
    font-size: 5em;
  }
  .pageTitle {
    margin: 0;
  }
  .hp-wrapper {
    width: 42vw;
    margin: 0 auto;
  }
  .modeToggle {
    width: 30px;
    height: 30px;
    margin: 2vh 0 0 68vw;
  }

  .hi-im-andrew h1 {
    font-size: 9.375rem;
    margin-top: 11vh;
  }

  .hi-im-andrew h2 {
    font-size: 3.75rem;
  }
  .text {
    font-family: "Rubik-Light", serif;
    font-size: 1.875rem;
  }

  button {
    font-size: 1.25rem;
    width: 15vw;
  }

  .contact {
    width: 42vw;
  }

  .backarrow {
    margin: 0;
  }
  .projectList {
    padding: 0 0 5vh 0;
  }
  .project {
    margin: 0 0 6vh 0;
  }
  .projectName {
    font-size: 1.6em;
    margin: 0;
    color: inherit;
  }

  .blog p {
    font-size: 1.1em;
  }

  .blog code {
    color: #348aa7;
    font-size: 1.1em;
  }
}

/* Mobile sizing */
@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
  }
  .blog {
    width: 88vw;
  }
  .pageTitle {
    margin: 5vh 0 0 6vw;
  }

  h1 {
    font-size: 2em;
  }

  #portfolio {
    font-size: 2em;
  }
  .hi-im-andrew {
    margin: 17vh 0 0 6vw;
  }

  .hi-im-andrew h1 {
    font-size: 7.5em;
    margin: 0;
  }

  .hi-im-andrew h2 {
    font-size: 2.5em;
    margin: 0;
  }

  .text {
    width: 80vw;
    font-family: "Rubik-Light", serif;
    font-size: 1.25em;
    margin: 2% 0 0 6vw;
  }

  button {
    font-size: 1.25rem;
    width: 40vw;
  }

  .backarrow {
    margin: 6% 0 0 6vw;
  }

  .pageTitle {
    overflow: visible;
    font-size: 1.8em;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 700;
    font-style: normal;
    margin: 5vh 0 0 6vw;
  }

  .pageTitle-light {
    color: #f8f7ff;
  }
  .pageTitle-dark {
    color: #2b2d42;
  }

  .modeToggle {
    width: 30px;
    height: 30px;
    margin: 2vh 0 0 85vw;
  }

  .projectName {
    font-size: 1.6em;
    margin: 0;
    text-decoration: inherit;
  }

  .languages {
    font-style: italic;
    margin: 5px 0;
    padding: 0;
    font-size: 0.9em;
  }

  .bio {
    font-size: 1em;
    width: 80%;
    margin: 10px 0;
  }

  .projectList {
    margin: 0 0 5vh 6vw;
  }

  .project {
    margin: 0 0 4vh 0;
  }

  .contact {
    width: 100vw;
  }

  .hp-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  .blog p {
    font-size: 0.9em;
  }

  .blog code {
    color: #348aa7;
    font-size: 1.1em;
  }
}
