@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500;700&display=swap");

:root {
  font-family: "Signika", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}
html {
  padding: 0;
  margin: 0;
  color: #000000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

span {
  color: #0336ff;
  opacity: 1;
  margin: 0;
  padding: 0;
  display: inline;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit;
}

html.dark {
  background-color: rgba(18, 18, 18, 0.95);
  color: #ffffff;
}

html.dark span {
  color: #b0413e;
}

html.dark h2 {
  color: rgba(255, 255, 255, 0.38);
}

@keyframes onLoadHeader {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 0.85;
    transform: translateY(0%);
  }
}

@keyframes onLoadPara {
  from {
    opacity: 0;
    transform: translateY(3%);
  }
  to {
    opacity: 0.6;
    transform: translateY(0%);
  }
}

@keyframes onLoadh2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html h2:hover {
  color: #0336ff;
  text-shadow: 2px 8px rgba(1, 21, 100, 0.1);
}

html.dark h2:hover {
  color: #b0413e;
  text-shadow: 2px 8px rgba(69, 25, 24, 0.5);
}

/* Desktop  */
@media only screen and (min-width: 600px) {
  /* General elements */

  /* Desktop Homepage */

  .homepage-hp-wrapper {
    margin: 0 0 0 12%;
    padding: 300px 0 0 0;
  }

  .homepage-hp-wrapper h1 {
    font-size: 96px;
    opacity: 0.85;
    font-weight: 700;
    padding: 0;
    width: 100%;
    margin: 0 0 -30px 0;
    padding: 0;
    animation: onLoadHeader 0.4s linear;
  }

  .homepage-hp-wrapper p {
    font-size: 28px;
    line-height: 1.2;
    opacity: 0.6;
    font-weight: 500;
    margin-bottom: 2px;
    padding: 0;
    width: 80%;
    animation: onLoadPara 0.6s linear;
    /* animation: onLoadPara 0.7s ease-out; */
  }

  .homepage-hp-wrapper h2 {
    font-weight: 700;
    font-size: 41px;
    color: rgba(0, 0, 0, 0.38);
    display: inline;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    animation: onLoadh2 0.8s linear;
  }

  /* Desktop Portfolio List */

  .mw h1 {
    font-size: 96px;
    margin: 6% 0 42px 13%;
    opacity: 0.85;
  }

  .projectList {
    margin: 0 0 0 20%;
  }

  .project {
    margin-bottom: 50px;
  }

  .project h2 {
    opacity: 0.8;
    font-size: 38px;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .project h2:hover {
    opacity: 1;
  }

  .project .bio {
    margin: 5px 0 0 0;
    opacity: 0.6;
    font-size: 20px;
  }

  .project .languages {
    margin-top: 10px;
    opacity: 0.38;
    font-size: 20px;
  }

  /* Desktop blog page */

  .blog h1 {
    font-size: 63px;
    opacity: 0.8;
    margin: 5vw 0 66px 14%;
  }

  .blog {
    width: 100vw;
    margin: 0 auto;
  }

  .blog p {
    width: 48vw;
    margin: 20px auto;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 1.8;
    font-weight: 400;
    opacity: 0.8;
  }

  .blog p img {
    margin: 200px auto;
    opacity: 1;
  }

  .blog a {
    color: #0336ff;
  }

  .blog.dark a {
    color: #b0413e;
  }

  /* Mode Toggle */

  #outerCircle {
    width: 70px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    right: 60px;
    border-radius: 15px;
    z-index: 1;
    animation: onLoadHeader 0.4s ease-out;
  }
  #outerCircle.dark {
    background-color: rgba(255, 255, 255, 0.15);
  }

  #innerCircle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;
    transform-origin: center;
    transform: rotate(0deg);
    border-radius: 10px 2px 10px 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    animation: onLoadHeader 0.4s ease-out;
  }

  #innerCircle.dark {
    position: absolute;
    left: 45px;
    transform-origin: center;
    transform: rotate(270deg);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    animation: onLoadHeader 0.4s ease-out;
  }

  svg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 60px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  iframe {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 599px) {
  .homepage-hp-wrapper {
    margin: 0 0 0 3%;
    padding: 40vh 0 0 0;
  }

  .homepage-hp-wrapper h1 {
    font-size: 42px;
    opacity: 0.85;
    font-weight: 700;
    padding: 0;
    width: 100%;
    margin: 0 0 -20px 0;
    padding: 0;
    animation: onLoadHeader 0.4s linear;
  }

  .homepage-hp-wrapper p {
    font-size: 18px;
    line-height: 1.2;
    opacity: 0.6;
    font-weight: 500;
    margin-bottom: 2px;
    padding: 0;
    width: 90%;
    animation: onLoadPara 0.6s linear;
    /* animation: onLoadPara 0.7s ease-out; */
  }

  .homepage-hp-wrapper h2 {
    font-weight: 700;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.38);
    display: inline;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    animation: onLoadh2 0.8s linear;
  }

  #outerCircle {
    width: 70px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 15px;
    z-index: 1;
    animation: onLoadHeader 0.4s ease-out;
  }

  #outerCircle.dark {
    background-color: rgba(255, 255, 255, 0.15);
  }

  #innerCircle {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 5px;
    left: 5px;
    transform-origin: center;
    transform: rotate(0deg);
    border-radius: 10px 2px 10px 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
    animation: onLoadHeader 0.4s ease-out;
  }

  #innerCircle.dark {
    position: absolute;
    left: 45px;
    transform: rotate(270deg);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  }

  svg {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  iframe {
    width: 400px;
    display: block;
    margin: 0 auto;
  }

  .mw h1 {
    font-size: 48px;
    margin: 20% 0 42px 5%;
    opacity: 0.85;
  }

  .projectList {
    margin: 0 0 0 10%;
    width: 80%;
  }

  .project {
    margin-bottom: 50px;
  }

  .project h2 {
    opacity: 0.8;
    font-size: 20px;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .project .bio {
    margin: 5px 0 0 0;
    opacity: 0.6;
    font-size: 16px;
  }

  .project .languages {
    margin-top: 10px;
    opacity: 0.38;
    font-size: 14px;
  }

  .blog h1 {
    font-size: 25px;
    opacity: 0.8;
    width: 90vw;
    margin: 25vw auto 0px auto;
    text-align: center;
  }

  .blog {
    width: 100vw;
    margin: 0 auto;
  }

  .blog p {
    width: 80vw;
    margin: 20px auto;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.8;
    font-weight: 400;
    opacity: 0.8;
  }

  .blog p img {
    margin: 200px auto;
    opacity: 1;
  }

  .blog a {
    color: #0336ff;
  }

  .blog.dark a {
    color: #b0413e;
  }
}
